In [13]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

In [15]:
filename = "C:/Users/khanh/code/DATA_SCIENCE/data/fill-blank.csv"
df = pd.read_csv(filename)
df = df.drop('images', axis=1)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18654 entries, 0 to 18653
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area        18654 non-null  int64
 1   region      18654 non-null  int64
 2   company_ad  18654 non-null  int64
 3   brand       18654 non-null  object
 4   model       18654 non-null  object
 5   year        18654 non-null  int64
 6   km          18654 non-null  float64
 7   type        18654 non-null  object
 8   capacity    18654 non-null  object
 9   price       18654 non-null  int64
dtypes: float64(1), int64(5), object(4)
memory usage: 1.4+ MB

###### Encode Categorical Data

In [17]:
import category_encoders as ce
import pandas as pd
encoder=ce.OneHotEncoder(cols=['area', 'region', 'brand', 'model', 'type', 'capacity'],handle_unknown='return_nan',return_df=True,use_cat_names=True)
#Fit and transform Data
data_encoded = encoder.fit_transform(df)
data_encoded

C:\Users\khanh\anaconda3\envs\my-conda-env\lib\site-packages\category_encoders\one_hot.py:145: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for cat_name, class_ in values.iteritems():
C:\Users\khanh\anaconda3\envs\my-conda-env\lib\site-packages\category_encoders\one_hot.py:145: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for cat_name, class_ in values.iteritems():
C:\Users\khanh\anaconda3\envs\my-conda-env\lib\site-packages\category_encoders\one_hot.py:145: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for cat_name, class_ in values.iteritems():
C:\Users\khanh\anaconda3\envs\my-conda-env\lib\site-packages\category_encoders\one_hot.py:145: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for cat_name, class_ in values.iteritems():
C:\Users\khanh\anaconda3\envs\my-conda-env\lib\site-packages\category_encoders\one_hot.py:145: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for cat_name, class_ in values.iteritems():
C:\Users\khanh\anaconda3\envs\my-conda-env\lib\site-packages\category_encoders\one_hot.py:145: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for cat_name, class_ in values.iteritems():

,area_119.0,area_110.0,area_36.0,area_102.0,area_11.0,area_17.0,area_31.0,area_44.0,area_129.0,area_106.0,...,km,type_Tay ga,type_Xe số,type_Tay côn/Moto,capacity_100 - 175 cc,capacity_Không biết,capacity_50 - 100 cc,capacity_Dưới 50 cc,capacity_Trên 175 cc,price
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,35240.49862,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,59000000
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,38437.46218,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,53000000
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,30000.00000,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,26000000
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3500.00000,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,48000000
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,33337.24211,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,63000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18649,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,29.00000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,23500000
18650,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,88094.86635,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,8800000
18651,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,15419.00000,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,33000000
18652,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,19900.00000,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,65000000
18653,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,32000.00000,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,6000000

###### Splitting the dataset into training set and test set

In [18]:
train_set, test_set = train_test_split(data_encoded, test_size=0.2)

In [19]:
train_set = train_set.values
test_set = test_set.values

In [20]:
print(test_set.shape)

(3731, 357)

###### Feature Scaling

In [21]:
# 345 model_Hypermotard
# 346 year
# 347 km
# 348 type_Tay ga
# 349 type_Xe số
# 350 type_Tay côn/Moto
# 351 capacity_100 - 175 cc
# 352 capacity_Không biết
# 353 capacity_50 - 100 cc
# 354 capacity_Dưới 50 cc
# 355 capacity_Trên 175 cc
# 356 price
train_year = train_set[:,346]
train_km = train_set[:,347]
test_year = test_set[:,346]
test_km = test_set[:,347]
print('min year:', np.min(train_year))
print('max - min year:', np.max(train_year) - np.min(train_year))
print('mean km:', np.mean(train_km))
print('std km:', np.std(train_km))

min year: 1980.0
max - min year: 42.0
mean km: 28884.728879460563
std km: 27874.525280160542

In [22]:
# Normalize year column using Linear Scaling
train_year_normalized = (train_year - np.min(train_year)) / (np.max(train_year) - np.min(train_year))
test_year_normalized = (test_year - np.min(train_year)) / (np.max(train_year) - np.min(train_year))
# Normalize km column using Z-Score normalization
train_km_normalized = (train_km - np.mean(train_km)) / np.std(train_km)
test_km_normalized = (test_km - np.mean(train_km)) / np.std(train_km)
# Replace the original columns with the normalized columns
train_set[:, 346] = train_year_normalized
train_set[:, 347] = train_km_normalized
test_set[:, 346] = test_year_normalized
test_set[:, 347] = test_km_normalized

###### Dataset don't use images

In [23]:
train_set = np.asarray(train_set, dtype=np.float32)
test_set = np.asarray(test_set, dtype=np.float32)
np.savetxt("C:/Users/khanh/code/DATA_SCIENCE/data/not using images/train_set.csv", train_set, delimiter=",")
np.savetxt("C:/Users/khanh/code/DATA_SCIENCE/data/not using images/test_set.csv", test_set, delimiter=",")